<div class="recipe__body-aside">
{{#content_sidebar}}

  {{{content_sidebar}}}

  {{> molecules-article-text }}

  {{> organisms-recipe-list }}

  {{> organisms-chicory }}

  {{> organisms-nutrition-list }}

{{/content_sidebar}}
</div>