{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

{{#recipe_instruction_list}}
  <div class="recipe-instructions" >

    <ol class="recipe-instructions__list custom-list custom-list--lg custom-list--branded custom-list--serif" itemprop="recipeInstructions">
      {{#items}}
        {{> organisms-recipe-instruction-list-item }}
      {{/items}}
    </ol>
  </div>
{{/recipe_instruction_list}}