{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<div class="recipe__body-main article__body">
  {{#content_main}}

      {{{content_main}}}

      {{> molecules-article-text }}

      {{> organisms-article-media }}

      {{> molecules-blockquote }}

      {{> organisms-article-video }}

      {{> organisms-recipe-instruction-list }}

      {{> atoms-copyright }}

  {{/content_main}}
</div>