{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

{{#recipe_description}}
<div class="recipe-description"
  itemprop="description"
  data-js-component="truncateContent"
  data-options='{
  "btnClass": "truncateContent__btn",
  "btnText": "View More",
  "containerClass" : "truncateContent__container",
  "maxHeight": "200"
  }'>
  {{{text}}}

</div>
{{/recipe_description}}