{{#blockquote}}
  <blockquote>
    {{> atoms-blockquote-icon }}
    {{> atoms-blockquote-text }}
    {{#citation}}
      {{> atoms-blockquote-citation }}
    {{/citation}}
  </blockquote>
{{/blockquote}}