{{#accent_header}}
<div class="accent-header">
  {{#subtitle}}
    <h3 class="accent-header__subtitle">{{subtitle}}</h3>
  {{/subtitle}}
  <h2 class="accent-header__title"><span class="accent-header__title-text">{{title}}</span></h1>
</div>
{{/accent_header}}