/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * COLORS
 *
 * Define any global color variables below. Ideally color variables should be
 * referenced by the theme variables that follow.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */


 /*-------------------------------------------- */
 /** Color Variables */
 /*-------------------------------------------- */


$colors: (
	white: #fff,
	black: #000,
	body-text-color: #333333,
	ad-background: #F2F2F2,
	social: (
		facebook: #3b5998,
		twitter: #55acee,
		pinterest: #bd081c,
		email: #f26457,
	    instagram: #3f729b,
	    youtube: #cd201f,
		print: #52CCAD,
	    snapchat: #FFFC00
	),
	primary: (
		dark: #5C9497, 
		med: #8EBABD, // MAIN PRIMARY
		lite: #C1DDDE,
		extra-lite: #EBF5F5
	),
	secondary: (
		dark: #992E99,
		med: #AF4AAF, // MAIN SECONDARY
		lite: #CC74CC
	),
	tertiary: (
		extra-dark: #5D5D66,
		dark: #7A7A80,
		med: #99999C, // MAIN TERTIARY
		lite: #C0C0C1,
		extra-lite: #DAE6E6, //subscribe background
		ultra-lite: #F0F2F2 //footer and media background
	)
);


 /*-------------------------------------------- */
 /** Theme Variables */
 /*-------------------------------------------- */


 $gray: color(tertiary, med);
 $brand-primary: color(primary, med);
 $brand-secondary: color(secondary, med);
 $brand-tertiary: color(tertiary, med);

 $link-color: color(secondary, med);
 $link-color-hover: color(secondary, dark);
 $link-color-active:  $link-color-hover;