/* BRAND FILE DO NOT OVERWRITE ON GENERIC BRANCH */

/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * COLORS
 *
 * Define any global color variables below. Ideally color variables should be
 * referenced by the theme variables that follow.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */

 /*-------------------------------------------- */
 /** Color Variables */
 /*-------------------------------------------- */

$colors: (
	white: #fff,
	black: #000,
	body-text-color: #333333,
	ad-background: #F2F2F2,
	social: (
		facebook: #3b5998,
		twitter: #55acee,
		pinterest: #bd081c,
		email: #f26457,
	    instagram: #3f729b,
	    youtube: #cd201f,
		print: #52CCAD,
	    snapchat: #FFFC00
	),
	primary: (
		dark: #00BE94,
		med: #26c9a6, // MAIN PRIMARY
		lite: #49D5B6,
		extra-lite: #71E4CA
	),
	secondary: (
		dark: #14BBFB,
		med: #40cafd, // MAIN SECONDARY
		lite: #6AD4FD
	),
	tertiary: (
		extra-dark: #000000,
		dark: #000000,
		med: #8c8c8c, // MAIN TERTIARY
		lite: #d0cece,
		extra-lite: #d6d6d6, //subscribe background
		ultra-lite: #FEFCFC //footer and media background
	)
);

 /*-------------------------------------------- */
 /** Theme Variables */
 /*-------------------------------------------- */

 $gray: color(tertiary, med);
 $brand-primary: color(primary, med);
 $brand-secondary: color(secondary, med);
 $brand-tertiary: color(tertiary, med);

 $link-color: color(secondary, med);
 $link-color-hover: color(secondary, dark);
 $link-color-active:  $link-color-hover;


 /*-------------------------------------------- */
 /** Nav Colors */
 /*-------------------------------------------- */

 $brand-bar-bg: color(tertiary, dark);
 $brand-bar-link: color(white);
 $brand-bar-link-hover: $brand-primary;
 $brand-bar-icons: color(white);
 $brand-bar-title-color: color(white);
 $brand-bar-next-bg-color: color(primary, dark);
 $brand-bar-next-color: color(white);
