/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * COLORS
 *
 * Define any global color variables below. Ideally color variables should be
 * referenced by the theme variables that follow.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */

 /*-------------------------------------------- */
 /** Color Variables */
 /*-------------------------------------------- */

$colors: (
	white: #fff,
	black: #000,
	body-text-color: #333333,
	ad-background: #F2F2F2,
	social: (
		facebook: #3b5998,
		twitter: #55acee,
		pinterest: #bd081c,
		email: #f26457,
	    instagram: #3f729b,
	    youtube: #cd201f,
		print: #52CCAD,
	    snapchat: #FFFC00
	),
	primary: (
		dark: #14BBFB, 
		med: #40cafd, // MAIN PRIMARY
		lite: #6AD4FD,
		extra-lite: #9AE2FD
	),
	secondary: (
		dark: #EC3C2A,
		med: #ff6352, // MAIN SECONDARY
		lite: #FF8275
	),
	tertiary: (
		extra-dark: #000000,
		dark: #000000,
		med: #333333, // MAIN TERTIARY
		lite: #6B6A6A,
		extra-lite: #9D9C9C, //subscribe background
		ultra-lite: #FEFCFC //footer and media background
	)
);

 /*-------------------------------------------- */
 /** Theme Variables */
 /*-------------------------------------------- */

 $gray: color(tertiary, med);
 $brand-primary: color(primary, med);
 $brand-secondary: color(secondary, med);
 $brand-tertiary: color(tertiary, med);

 $link-color: color(secondary, med);
 $link-color-hover: color(secondary, dark);
 $link-color-active:  $link-color-hover;