{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<li class="recipe-instructions__list-item custom-list__item">
  <div class="recipe-instructions__content">
    {{text}}
    {{> molecules-media-single }}

    {{> molecules-media-video }}
  </div>

</li>