{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg class="icon-quotation-mark">
	{{> atoms-icon-quotation-mark }}
</svg>