{{! BRAND FILE DO NOT OVERWRITE ON GENERIC BRANCH }}

<script>
    var tgx_ad_slots = tgx_ad_slots || [];
    var rsAdConfig = {
        "params": {
            "ptype": "content"
        },
        "TiiAdConfig": "3475.ckl",
        "CmSitename":"cm.ckl",
        "zone":"homepage",
        "channel":"",
        "channel_page":"",
        "zone_override":"true"
    };
</script>