/* GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH */
// THIS FILE SHOULD ONLY BE USED WHEN GENERATING NEW GRID CLASSES

@import 'grid-variables';
$generate-grid-classes: true; 

@if $generate-grid-classes {

  @for $i from 1 through $column-count {
    %g-span-xs-#{$i},
    .g-span-xs-#{$i} {
      width: span( $i of 12);
    }
  }

  @each $bp-size, $bp-value in $breakpoints-map {
     @media (min-width: #{$bp-value}) {
       @for $i from 1 through $column-count {
         %g-span-#{$bp-size}-#{$i},
         .g-span-#{$bp-size}-#{$i} {
           width: span( $i of 12);
          }
       }
    }
  }
}

@if $fixed-width-columns {
  [class*="--has-sw-sidebar"],
  [class*="--is-sw-sidebar"] {
    width: 100%;
  }

  @media (min-width: #{map-get($breakpoints-map, sm)}) {
    @each $column in $fixed-width-columns {
      .g-span-#{$column}--has-sw-sidebar {

        width: calc(100% - (#{$container-width} / #{$column-count} * (#{$column-count} -  #{$column} ) ) );
      }

      .g-span-#{$column}--is-sw-sidebar {
        width: ($container-width / $column-count * $column);
      }
    }
  }
}

[class*="g-span-"] {
  @include gutters();
  float: left;
  box-sizing: border-box;
}

.g-wrap {
  @include clearfix();
  margin-left: - gutter();
  margin-right: - gutter();
  clear: both;
}