<header class="article__header">
  {{> molecules-breadcrumbs }}

  {{#header}}

    {{{header}}}

    {{> organisms-article-title }}
    
    {{#media}}
      {{> organisms-article-media }}
    {{/media}}
    
    {{> organisms-article-sponsor }}

    {{> organisms-article-meta }}

    {{> organisms-article-leader }}

    {{> organisms-article-credit }}

  {{/header}}
</header>