{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<header class="article__header">
  {{> atoms-breadcrumbs }}

  {{#header}}

    {{{header}}}

    {{> atoms-article-title }}
    
    {{> organisms-article-meta }}

    {{> organisms-article-media }}
    
    {{> organisms-article-credit }}
  
    {{> organisms-dek }}

  {{/header}}
</header>