<header class="article__header">
  {{> molecules-breadcrumbs }}

  {{#header}}

    {{{header}}}

    {{> organisms-article-title }}
    
    {{> organisms-article-meta }}

    {{> organisms-article-media }}
    
    {{> organisms-article-credit }}
  
    {{> organisms-article-leader }}

  {{/header}}
</header>