{{#article_media}}
  {{> organisms-article-media-video}}

  {{> organisms-article-media-hero }}

  {{> organisms-article-media-single }}

  {{> organisms-article-media-three-up }}

{{/article_media}}



