{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

{{#article_meta}}
	<div class="article__meta {{#bordered?}} article__meta--with-borders{{/bordered?}}">
    <div class="article__meta-byline">
      {{> molecules-byline }}
    </div>
    <div class="article__meta-share">
      {{>molecules-share-tools}}
    </div>
  </div>
{{/article_meta}}