/**
 * Block: <%= moduleName %>
 * Element: <%= moduleName %>__element
 * Modifier: <%= moduleName %>--modifier
 */

.<%= moduleName %> {

    /*-------------------------------------------- */
    /** Variables */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Styles */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Modifiers */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Elements */
    /*-------------------------------------------- */



    /*-------------------------------------------- */
    /** Media Queries */
    /*-------------------------------------------- */


}
