{{#sidebar_body}}

  {{#ad_300x350}}
    {{> molecules-ads-300x250 }}
  {{/ad_300x350}}

  {{#outbrain}}
    {{> molecules-global-outbrain }}
  {{/outbrain}}

  {{#related_list}}
  	{{> molecules-related-list }}
  {{/related_list}}
  
{{/sidebar_body}}
