{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

{{#glance_bar}}
<div class="site-header__bar hide-at-md">
  <div class="site-header__wrap">
    <div class="glance-bar">
      <div class="glance-bar__section">
        <a class="glance-bar__link" href="{{url}}">
          {{text}}
        </a>
      </div>
      {{> organisms-subscribe-link }}
    </div>
  </div>
</div>
{{/glance_bar}}