{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<div class="menu-bar__next site-header__next action-bar__section action-bar__next">
	<a href="{{next_url}}" class="action-bar__link link-with-arrow ">
	    Next
	</a>
</div>