{{#search_bar}}
<div class="search-bar {{#in_site_header?}}search-bar--in-site-header{{/in_site_header?}} {{#in_side_nav?}}search-bar--in-side-nav{{/in_side_nav?}}"
            {{#display_icon_on_scroll}}
              data-js-component="searchDisplay"
            {{/display_icon_on_scroll}}>
  <div class="search-bar__wrap"
    >
    <form class="form-inline search-form" action="{{ form_action }}">
      <input class="form-control search-bar__input" type="text" placeholder="Search">
      <button class="btn form-btn link-with-arrow search-bar__btn">
        Search
      </button>
    </form>

    {{#in_site_header?}}
    <div class="search-bar__close show-at-md">
      <svg class="icon icon-close search-bar__close-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ svg_sprite_path  }}#icon-close"></use>
      </svg>
    </div>
    {{/in_site_header?}}
  </div>
</div>
{{/search_bar}}
