{{#list_with_divider}}
<ul class="list list--has-divider list--no-style {{#is_small?}}list--small{{/is_small?}}">
  {{#items}}
    <li class="list__item">{{text}}</li>
  {{/items}}
</ul>
{{/list_with_divider}}