{{! BRAND FILE DO NOT OVERWRITE ON GENERIC BRANCH }}
{{! COULD BE ABSTRACTED TO GLOBAL FILE }}

<div class="menu-subscribe">
  <a class="btn btn--centered link-with-arrow" href="http://www.cookinglight.com/newsletters">Get Our Newsletter</a>
</div>