{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

{{#standalone}}
<div id="ad-4x1" class="site-nav__subscribe">
    <h3 class="site-nav__subscribe-title">Subscribe and Save</h3>
    <div class="site-nav__subscribe-media site-nav__subscribe-section">
        <img src="http://placehold.it/94x123" alt="">
    </div>
    <div class="site-nav__subscribe-content site-nav__subscribe-section">
        <p>Get it for $1 an issue!</p>
        <p>Save up to 78% off newstand</p>
        <a href="#" class="btn btn--sm link-with-arrow">Subscribe</a>
    </div>
</div>
{{/standalone}}
{{^standalone}}
{{> molecules-ads-cm-nav-menu-4x1}}
{{/standalone}}