{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<header class="recipe__header article__header">

  <div>
    {{> atoms-breadcrumbs }}
  </div>

  {{#header}}

    {{{header}}}

    {{> organisms-recipe-title }}

    {{> organisms-article-meta }}

    {{> organisms-article-media }}

    {{> molecules-recipe-meta }}

    {{> organisms-recipe-description }}

    {{> organisms-recipe-meta-footer }}

  {{/header}}
</header>