/*-----------------------------------------------------------------------------
 *-----------------------------------------------------------------------------
 *
 * LAYOUT
 *
 * Import all layout specific SASS files below. This file is imported
 * by main.scss.
 *
 *-----------------------------------------------------------------------------
 *----------------------------------------------------------------------------- */



.main-content,
.sidebar {
  float: left;
  box-sizing: border-box;
  width: 100%;
}

@include respond-to('md and up') {
  .main-content {
    &--has-sw-sidebar {
      width: calc(100% - 300px);
      padding-left: 0;
      padding-right: 60px;
    }
  }

  .sidebar {
    // basic width to span if
    // not using a static layout
    @include span(3);

    &--is-sw {
      width: 300px;
      padding: 26px 0 0 0;
    }

    .ad,
    .related-list {
      margin-bottom: 30px;
    }
  }
}

// Generic section styles
// to be used globally.
.section {
  @include clearfix;
  margin-bottom: 100px;
}

.frow {
  display: flex;
  flex-direction: column;

  @include respond-to('md and up') {
    flex-direction: row;
  }

  &--sb {
    justify-content: space-between;
  }
}

.fcenter {
  align-items: center;
}