<div class="menu-bar__section menu-bar__menu"
    data-js-component="sideMenuToggle"
    data-menu-target=".site-menu"
    data-menu-overlay-class="site-menu-overlay"
    data-close-trigger=".site-menu__close, .site-menu-overlay">

    {{> atoms-icon-menu }}
</div>