{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

<div class="menu-bar__search--trigger"
	data-js-component="toggleSearch"
	data-open-target=".search-bar--in-site-header"
	data-close-target=".search-bar--in-site-header .search-bar__close">
	<span class="menu-bar__search-label">Search</span>

	{{> atoms-icon-search }}

</div>