
<!-- Start of Brightcove Player -->
<div style="display:none"></div>
<!--
By use of this code snippet, I agree to the Brightcove Publisher T and C
found at https://accounts.brightcove.com/en/terms-and-conditions/.
-->
<script type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
<div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  
  <div class="containing-block">
  <meta itemprop="name" content="{{headline}}" />
  <meta itemprop="description" content="{{description}}" />
  <meta itemprop="duration" content="{{video_duration}}" />
  <meta itemprop="thumbnailUrl" content="{{thumbnail_image_url}}" />
  <meta itemprop="embedURL" content="{{bc_embed_url}}" />
  <meta itemprop="uploadDate" content="{{published_date}}" />
  <div id="container1" class="outer-container">
  <object id="myExperience-{{brightcove_id}}" class="BrightcoveExperience">
    <param name="bgcolor" value="{{bgcolor}}" />
    <param name="autoStart" value="false" />
    <param name="width" value="{{width}}" />
    <param name="height" value="{{height}}" />
    <param name="playerID" value="{{playerid}}" />
    <param name="playerKey" value="{{playerkey}}" />
    <param name="isVid" value="true" />
    <param name="isUI" value="true" />
    <param name="dynamicStreaming" value="true" />
    <param name="includeAPI" value="true" />
    <param name="templateLoadHandler" value="myTemplateLoaded" />
    <param name="@videoPlayer" value="{{brightcove_id}}" />
  </object>
  </div>
  </div>
</div>
<script type="text/javascript">brightcove.createExperiences();</script>
<!-- End of Brightcove Player -->
