{{! GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH }}

{{#secondary_menu}}
  <div class="menu-group menu-group__secondary">
    <ul class="menu-group__list">
      {{#menu_items}}
        <li class="menu-group__list-item"><a href="{{url}}" class="menu-group__link">{{name}}</a></li>
      {{/menu_items}}
    </ul>
  </div>
{{/secondary_menu}}