.article__header {
  text-align: center;
}

.article__category,
.article__date {
  @include sans-serif-lite;
  font-size: rem(12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.article-title {
  @include serif;
  font-size: rem(36);
  line-height: 1.05;
  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 0.01em;
}

.article-section-title {
  @include serif-bold;
  color: color(primary, dark);
  font-size: rem(32);
  line-height: 1.2;
  margin: 25px 0 15px 0;
  letter-spacing: .018em;
}

.recipe-text {
  .article-section-title {
    margin: 30px 0 10px 0;
  }
}

.article__lead {
  @include serif;
  color: color(tertiary, med);
  text-align: left;
  font-size: 1.615rem;
  line-height: 1.225;
  letter-spacing: 0.025em;
  margin-top: 0;
  margin-bottom: 10px;
}

.article__body {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @include serif;
    margin: 0 0 .5em 0;
    line-height: 1.2;
    letter-spacing: 0.01em;
  }

  > h1,
  > h2,
  > .article-section-title {
      font-size: rem(34);
    }

  > h3 {
      font-size: rem(32);
    }

  > h4 {
      font-size: rem(26);
    }

  > h5 {
      font-size: rem(24);
    }

  > h6 {
      font-size: rem(22);
    }

  > p {
    @include sans-serif-extra-lite;
    font-size: rem(20);
    line-height: 1.38;
    margin-bottom: 26px;
  }
}


@include respond-to('sm and up') {
  .article-title {
    font-size: rem(48);
  }

  .article-lead {
    font-size: rem(24);
  }

  .article__body {
    > h1,
    > h2,
    > .article-section-title {
      font-size: rem(32);
    }

    > p {
      font-size: rem(22);
    }
  }
  .article__header {
    text-align: left;
  }
}

@include respond-to('md and up') {
  .article-section-title {
    font-size: rem(35);
  }
  
}