<div class="byline__text" >
	{{#text}}
		<span class="byline__author"><span class="byline__author_by">by</span> {{text}}</span>
	{{/text}}

	{{#date}}
		<span class="byline__date">{{date}}</span>
	{{/date}}
</div>