/* GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH */

/**
 * Block: breadcrumbs
 * Element: breadcrumbs__element
 * Modifier: breadcrumbs--modifier
 */

.breadcrumbs {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;

  &__crumb {
    display: inline-block;
    margin-right: 2px;
    position: relative;
    line-height: 1;

    &:after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      margin-left: 2px;
      vertical-align: middle;
      // position: absolute;
      // bottom: 10px;
      // right: -8px;
      background-color: color(tertiary, lite);

    }

    &:last-child:after {
      display: none;
    }
  }

  &__crumb-link,
  &__crumb-text {
    @include sans-serif-lite;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: color(secondary, dark);
  }

  &__crumb-link {
    &--is-active {
      color: color(tertiary, med);
    }
  }
}