/* GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH */

/**
 * Block: interior-bar
 * Element: interior-bar__element
 * Modifier: interior-bar--modifier
 */

 .interior-bar {

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__link {
    display: block;
  }

  &__text-link {
    @include sans-serif-medium;
    font-size: rem(16);
    text-transform: uppercase;
    color: color(tertiary, dark);
    transition: color .225s ease-out;
  }

  &__section {
    &-link {
      @include sans-serif-lite;
      $size: 50px;
      display: block;
      height: $size;
      width: 85px;
      font-size: rem(12);
      text-align: center;
      letter-spacing: 0.175em;
      line-height: $size;
      color: color(white);
      background-color: color(primary, dark);
      text-transform: uppercase;

      &:hover {
        color: color(white);
      }
    }
  }

  &__section-action {
    display: flex;
    align-items: center;
  }

  &__social {
    margin-left: 15px;
    margin-right: 15px;
  }
}
