/**
 * Block: menu-group
 * Element: menu-group__element
 * Modifier: menu-group--modifier
 */

.menu-group {
  float: left;
  width: 100%;
  padding: 0 10px 10px 20px;
  box-sizing: border-box;

  &__list,
  &__sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include clearfix;
    float: left;
    overflow: hidden;
    width: 100%;

    &--with-menu {
      transition: height .250s ease-out;

      > .menu-group__link {
        width: calc(100% - 45px);
      }

      &.is-open .menu-group__sub-menu-icon {
        transform: rotateX(180deg);
      }
    }
  }

  &__link {
    @include sans-serif-medium;
    display: block;
    text-transform: uppercase;
    color: color(tertiary, dark);
    font-size: rem(16);
    letter-spacing: 0.1em;
    padding-top: 16px;
    padding-bottom: 16px;
    float: left;
    width: 100%;
    border-bottom: 1px solid color(tertiary, extra-lite);

    &--heavy {
      @include sans-serif-semibold;
    }
  }

  &__secondary {
    .menu-group__list {
      border-top: 1px solid color(tertiary, extra-lite);
    }

    .menu-group__link {
      font-size: rem(12);
      color: color(tertiary, med);

      &:hover {
        color: color(secondary, med);
      }
    }
  }

  &__sub-menu-trigger {
    position: relative;
    width: 45px;
    height: 56px;
    float: left;
    border-bottom: 1px solid color(tertiary, extra-lite);
    text-align: center;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 38px;
      width: 1px;
      top: 8px;
      bottom: 8px;
      left: 0;
      background: color(tertiary, lite);
    }
  }

  &__sub-menu-icon {
    @include vertically-centered;
    display: block;
    width: 18px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    color: color(secondary, med);
    transform-origin: 25% 25%;
  }

  &__sub-menu-item {
    float: left;
    width: 100%;
  }

  &__sub-menu-link {
    font-size: rem(13);
    color: color(tertiary, med);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }

}
