<ul class="sg-colors">
	<h3>Primary Shades</h3>
	<li class="sg-swatch__primary-dark">
		<span class="sg-swatch"></span>
		<span class="sg-label">Dark (Primary)</span>
	</li>
	<li class="sg-swatch__primary-med">
		<span class="sg-swatch"></span>
		<span class="sg-label">Med</span>
	</li>
	<li class="sg-swatch__primary-lite">
		<span class="sg-swatch"></span>
		<span class="sg-label">Lite</span>
	</li>
	<li class="sg-swatch__primary-extra-lite">
		<span class="sg-swatch"></span>
		<span class="sg-label">Extra-Lite</span>
	</li>
</ul>

<ul class="sg-colors">
	<h3>Secondary Shades</h3>
	<li  class="sg-swatch__secondary-dark">
		<span class="sg-swatch"></span>
		<span class="sg-label">Dark</span>
	</li>
	<li class="sg-swatch__secondary-med">
		<span class="sg-swatch"></span>
		<span class="sg-label">Med (Secondary)</span>
	</li>
	<li class="sg-swatch__secondary-lite">
		<span class="sg-swatch"></span>
		<span class="sg-label">Lite</span>
	</li>
</ul>

<ul class="sg-colors">
	<h3>Tertiary Shades</h3>
	<li class="sg-swatch__tertiary-extra-dark">
		<span class="sg-swatch"></span>
		<span class="sg-label">Extra-Dark</span>
	</li>
	<li class="sg-swatch__tertiary-dark">
		<span class="sg-swatch"></span>
		<span class="sg-label">Dark</span>
	</li>
	<li class="sg-swatch__tertiary-med">
		<span class="sg-swatch"></span>
		<span class="sg-label">Med (Tertiary)</span>
	</li>
	<li class="sg-swatch__tertiary-lite">
		<span class="sg-swatch"></span>
		<span class="sg-label">Lite</span>
	</li>
	<li class="sg-swatch__tertiary-extra-lite">
		<span class="sg-swatch"></span>
		<span class="sg-label">Extra-Lite</span>
	</li>
	<li class="sg-swatch__tertiary-ultra-lite">
		<span class="sg-swatch"></span>
		<span class="sg-label">Ultra-Lite</span>
	</li>
</ul>