<ul class="sg-colors">
	<h3>Grapefruit Shades</h3>
	<li>
		<span class="sg-swatch" style="background: #F26457;"></span>
		<span class="sg-label">Dark #F26457 (Primary)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F28379;"></span>
		<span class="sg-label">Med #F28379</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F7AB9C;"></span>
		<span class="sg-label">Lite #F7AB9C</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFECE6;"></span>
		<span class="sg-label">Extra-Lite #FFECE6</span>
	</li>
</ul>

<ul class="sg-colors">
	<h3>Fresh Shades</h3>
	<li>
		<span class="sg-swatch" style="background: #3D9982;"></span>
		<span class="sg-label">#3D9982</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #52CCAD;"></span>
		<span class="sg-label">Med #52CCAD (Secondary)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ADEFDE;"></span>
		<span class="sg-label">Lite #ADEFDE</span>
	</li>
</ul>

<ul class="sg-colors">
	<h3>Slate Shades</h3>
	<li>
		<span class="sg-swatch" style="background: #171A1A;"></span>
		<span class="sg-label">Extra-Dark #171A1A</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4C5454;"></span>
		<span class="sg-label">Dark #4C5454</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #7E8C8C;"></span>
		<span class="sg-label">Med #7E8C8C (Tertiary)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C0D1D1;"></span>
		<span class="sg-label">Lite #C0D1D1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DAE6E6;"></span>
		<span class="sg-label">Extra-Lite #DAE6E6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F0F2F2;"></span>
		<span class="sg-label">Ultra-Lite #F0F2F2</span>
	</li>
</ul>

<ul class="sg-colors">
	<h3>Extra Colors</h3>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">Body Text #333</span>
	</li>
</ul>