.recipe__body {
  padding-left: 0;
  padding-right: 0;

  &-main {
    margin-bottom: 50px;
    p {
		line-height: 1.3;
    }
    @include respond-to('md and up') {
      margin-bottom: 10px;
    }
  }
}

