/* GLOBAL FILE DO NOT OVERWRITE ON NON GENERIC BRANCH */

/**
 * Block: recipe-list
 * Element: recipe-list__element
 * Modifier: recipe-list--modifier
 */

.recipe-list {
  margin-bottom: 20px;
  padding-right: 10px;

  & + & {
    margin-top: 40px;
  }
  
  .list__item {
    font-size: rem(19);
    padding: 12px 0;
    line-height: 1.25;
    font-weight: 100;
    a {
      font-weight: 500;
    }
  }

  @include respond-to('md and up') {
    .list__item {
      font-size: rem(18);
    }
  }
}