    <script src="../../assets/js/lib/dfp.js"></script>
    <script src="../../assets/js/lib/ti_ads_dfp.js"></script>
    <script src="../../assets/js/built/vendor.bundle.js"></script>
	<script src="../../assets/js/built/main.bundle.js"></script>
	
	<!-- DO NOT REMOVE FROM PATTERLAB -->
    <!-- REMOVE FOR PRODUCTION -->
  	{{{ patternLabFoot }}}


	</body>
</html>